<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DB_Connection_String"
			 connectionString="Data Source=WIN-3EN7LSCM99C\MSSQLSERVER01;Initial Catalog=Vehicle_Part;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>